**.pyc
*.swp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
*.password
*~
venv/**
facts/**
.cache/
codeclimate*.json
ansible.log
.autoswitch
inventories/vagrant
3rdparty/**/**.pyc
__pycache__
